body {
  background: url(../images/pattern2.jpg);
}

.display {
  background: white!important;
  border-radius: 25px!important;
  font-size: 18px!important;
  width: 95px;
}

.activeBtn {
  background: black!important;
  color: white!important;
  border-color: black!important;
}

#displayShows {
    border: 2px solid #c32525;
    color: #c32525;
}

#displayAll {
  border: 2px solid orangered;
  color: orangered;
}

#displayMovies {
    border: 2px solid #8f238f;
    color: #8f238f;
}

/*#displayShows {
    border: 2px solid #3989e5;
    color: #3989e5;
}

#displayAll {
  border: 2px solid #009933;
  color: #009933;
}

#displayMovies {
    border: 2px solid #009999;
    color: #009999;
}*/

.adjust {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 667px)
  and (orientation: portrait) {

  .inner-addon {
    margin-left: auto;
    margin-right: auto;
  }

  .second {
    text-align: center;
  }
}

/*414*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
    .entertainment {
      width: 33.33%!important;
    }

    .adjust {
      width: 83.33% !important;
      margin-left: auto!important;
      margin-right: auto!important;
    }

    .first {
      width: 40%!important;
      text-align: left;
    }

    .inner-addon {
      width: 100%!important;
    }

    #search {
      width: 100%!important;
    }

    .second {
      width: 60%!important;
      text-align: right;
    }

}

@media only screen and (min-width: 768px) {
  .second {
    text-align: right!important;
  }
}

/*@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (orientation: portrait) {
    .side .inner-addon{
      margin-left: auto;
      margin-right: auto;
    }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (orientation: landscape) {
    .side {
      width: 50%;
    }

    .side .inner-addon{
        padding-left: 15px;
    }
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
    .side {
      width: 50%;
    }

    .side .inner-addon{
        padding-left: 15px;
    }

    .adjust {
      width: 83.33% !important;
      margin-left: auto!important;
      margin-right: auto!important;
    }

}

@media only screen and (min-width: 768px) {
    .second {
      text-align: right!important;
    }
  }

@media only screen and (min-width: 992px) {
    .second {
      text-align: center!important;
    }
}*/


.description {
  text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,
  -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
  text-align: center;
}

.inner-addon {
  width: 225px;
  position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }

#search {
  font-size: 16px;
  margin-bottom: 15px;
  height: 35px;
  width: 225px;
  border: 1px solid black;
  border-radius: 5px;
}

/*background: gainsboro;*/

.background {
  padding-left: 0px;
  padding-right: 0px;
}

.nav-tabs {
  border-bottom: 0px!important;
}

.nav-tabs > li {
  width: 33.33%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px!important;
  margin-top: -1px;
}

.nav-tabs > li > a {
  background: white;
  font-weight: 700;
  height: 100%;
  width: 100%;
  display: block;

  border-top: 1px solid black!important;
  border-bottom: 1px solid black!important;
  border-radius: 0px!important;
  padding-top: 15px!important;
}

.all {
  border-left: 1px solid black!important;
  border-right: 1px solid black!important;

  -moz-box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05),inset 0 8px 0 #3989e5;

  -webkit-box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05), inset 0 8px 0 #3989e5;

  box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05),inset 0 8px 0 #3989e5;
}

.movies {
  border-left: 1px solid black!important;
  border-right: 1px solid black!important;

  -moz-box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05),inset 0 8px 0 #009933;

  -webkit-box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05), inset 0 8px 0 #009933;

  box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05),inset 0 8px 0 #009933;
}

.shows {
  -moz-box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05),inset 0 8px 0 #009999;

  -webkit-box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05), inset 0 8px 0 #009999;

  box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05),inset 0 8px 0 #009999;

  border-left: 1px solid black!important;
  border-right: 1px solid black!important;
}

li.active {
  font-weight: bold!important;
  border-bottom: 0px!important;
}

li.active a {
  border-bottom: 1px solid white!important;
}

.col {
  padding: 0px!important;
}

.entertainment {
  box-shadow:
  1px 0 0 0 black,
  0 1px 0 0 black,
  1px 1px 0 0 black,   /* Just to fix the corner */
  1px 0 0 0 black inset,
  0 1px 0 0 black inset;
}

.entertainmentContainer {
  margin-left: 0px!important;
  margin-right: 0px!important;
  position: initial!important;
  background: white;
  width: 100%;
  cursor: pointer;
}

.title {
  text-overflow: ellipsis;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

.fa {
  position: relative;
  top: -2px;
  color: seagreen;
  margin-right: 5px;
  font-size: 18px;
}

#infoImage {
	max-width: 100%;
}
